cdsapi==0.7.7
dask==2026.6.0
lightgbm==4.6.0
MetPy==1.7.1
netCDF4==1.7.4
numpy==2.5.0
pandas==2.3.3
py_wake==2.6.20
pyproj==3.7.0
rasterio==1.5.0
rioxarray==0.22.0
SALib==1.5.2
scikit-learn==1.9.0
scipy==1.18.0
statsmodels==0.14.6
whitebox==2.3.6
xarray==2026.4.0
